input.sf-disabled, textarea.sf-disabled, ul.sf-select {
    color: #717171;
    background-color: #f6f6f6;
}
ul.sf-select {
    border: 1px solid;
    border-color: #94C1E8;
    display: inline-block;
    min-height: 15px;
    margin: 0;
    padding-left: 0;
    padding-right:6px;
}
ul.sf-select li {
    margin: 1px 3px;
}
.enable-dialog {border: 1px solid #4e8ccf;padding: 10px;}
.enable-dialog table{width: 100%;}
.enable-dialog .onoffswitch{float: right;}

/* https://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 56px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #4e8ccf; border-radius: 3px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #ABC3D7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #4e8ccf; border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
